**/node_modules/**
**/src/**
**/test/**
**/docs/**
**/scripts/**
**/resources/**
**/*.map
.vscode/**
.git/**
.github/**
tsconfig.json
webpack.config.js
pnpm-lock.yaml
package-lock.json
.vscode/**
node_modules/**
out/**
.gitignore
webpack.config.js
src/**
